.wrapper

  = render 'side_bar'

  .chat-main
    .main-header
      .current-group
        %h2.current-group__name
          = @group.name
        %ul.member-list
          Member：
          %li.member-list__member
            - @group.users.each do |user|
              = user.name
      = link_to edit_group_path(@group) do
        .main-header__edit-btn edit
    .messages
      = render "message"
    .form
      .input-box
        %input.input-box__text{type: "text", placeholder: "type a message", name: "message[content]"}
        %label.image-label
          %i.fa.fa-image
          %input.image-label__input{type: "file", name: "message[image]"}
      %input.new-message__submit-btn{type: "submit", value: "Send"}
